<div id="contact" class="cantainer-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Cotiza Ya!</h1>
                <p>No, encontraste el servició indica a tú necesidad, cotiza tu sitio web a tu gusto con Perséfones, o cuentas con un sitio web, pero buscar darle nueva vida a tu página web, somos tu mejor alternativa.</p>
            </div>
            <div class="col-lg-4">
                <div>
                    <a class="btn btn-defaul-persefone">boton</a>
                </div>
                <div>
                    <a class="btn btn-defaul-persefone">boton</a>
                </div>
            </div>
        </div>
    </div>
</div>
