    #aboutUs{
        background-color: #2C6D8F;
        height: auto;
        padding-top: 70px;
        padding-bottom: 50px;

        h1{
            padding-top: 5px;
            color: #ffffff;
            font-size: 46px;
            font-weight: bold;
        }

        .row{
            padding-top: 20px;
        }

        .about-us-img{
            background-image: url('../../../assets/img/quienes_somos.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 320px;
            width: 450px;
        }

        

        p{
            color: white;
            font-size: 20px;
            line-height: 24px;
            padding-left: 0px;
            font-weight: 400;
            padding-right: 5%   ;
            bottom: 0;
        }

        .btn-defaul-persefone{
            text-decoration: none;
            color: #ffffff;
            font-weight: 500;
            font-size: 20px;
            font-weight: 600;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 300px;
            background: rgba(211, 83, 243, 0.92);
            mix-blend-mode: normal;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            text-align: center;
        }
    
        .btn-defaul-persefone:hover{
            background-color: #ab56c0;
        }
    }

@media(max-width:500px){
    #aboutUs{
        padding-top: 50px;
        padding-bottom: 0;
        
        h1{
            font-size: 36px;  
        }

        .row{
            text-align: center;
            padding-top: 5px;
        }

        .about-us-img-mobile{
            background-image: url('../../../assets/img/quienes_somos.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 240px;
            width: 100%;
            margin-top: 30px;
        }

        .about-us-img{
            display: none;
        }

        p{
            font-size: 16px;
            line-height: 22px;

            br{
                display: none;
            }
        }

        .btn-defaul-persefone{
            font-size: 18px;
            width: 100%;
        }
    }
}

//img hide
@media(min-width:500px){
    .about-us-img-mobile{
        display: none;
    }
}