<div class="container-fluid about-us-img" id="aboutUs">
    <div class="container">
        <small>¿COMO TE AYUDA PERSEFONES EN LA WEB?</small>
        <h2 class="text-center">Nos encargamos de hacer más, fácil la construcción <br> de tu página web.</h2>
        <div class="row">
            <!-- <div class="col-lg-6 col-md-6 col-ms-12">
                <div class="about-us-img"  ></div>
            </div> -->
            <div class="col-lg-12 col-md-12 col-ms-12">
                <p>Somos una empresa dedica a crear páginas web, exclusivas para nuestros cliente, tomando siempre <br> como prioridad su necesidad, ayudarlo a elegir la mejor estrategia digital para tener presencia en internet.</p>
                
                <div style="padding-left: 0px; padding-top: 20px;">
                    <a href="#products" class="btn btn-defaul-persefone">Nuestros servicios</a>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 col-ms-12">
                <div class="about-us-img-mobile" src="../../../assets/img/quienes_somos.png" alt="¿Quiénes somos?">
            </div>
        </div>
    </div>
</div>
