    #aboutUs{
        background-color: #fce1f2;
        height: auto;
        padding-top: 70px;
        padding-bottom: 50px;
        text-align: center;

        small{
            color: #CA90C8;
            font-weight: bold;
            text-align: center;
            font-size: 13px;
            margin: 0;
        }

        h2{
            color: #2C6D8F;
            font-size: 38px;
            font-weight: bold;
            line-height: 38px;
            margin: 0;
            padding: 0;
        }

        .row{
            padding-top: 20px;
        }

        .about-us-img{
            background-image: url('../../../assets/img/quienes_somos.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 250px;
            width: 100%;
        }

        p{
            color: #2C6D8F;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            text-align: center;
            margin: 0;
        }

        .btn-defaul-persefone{
            text-decoration: none;
            color: #ffffff;
            font-weight: 500;
            font-size: 18px;
            font-weight: 510;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            width: auto;
            background: rgba(211, 83, 243, 0.92);
            mix-blend-mode: normal;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            text-align: center;
        }
    
        .btn-defaul-persefone:hover{
            background-color: #ab56c0;
        }
    }

@media(max-width:500px){
    #aboutUs{
        padding-top: 50px;
        padding-bottom: 0;
        
        h1{
            font-size: 36px;  
        }

        .row{
            text-align: center;
            padding-top: 5px;
        }

        .about-us-img-mobile{
            background-image: url('../../../assets/img/quienes_somos.png');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 240px;
            width: 100%;
            margin-top: 0px;
            margin-bottom: 20px;
            background-position-y: bottom;
            position: relative;
        }

        .about-us-img{
            display: none;
        }

        p{
            font-size: 16px;
            line-height: 22px;

            br{
                display: none;
            }
        }

        .btn-defaul-persefone{
            font-size: 18px;
            width: 100%;
        }
    }
}

//img hide
@media(min-width:500px){
    .about-us-img-mobile{
        display: none;
    }
}