<div class="container-fluid" id="aboutUs">
    <div class="container">
        <h1 class="text-center">¿Quiénes somos?</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-ms-12">
                <img class="about-us-img" src="../../../assets/img/quienes_somos.png" alt="¿Quiénes somos?">
            </div>
            <div class="col-lg-6 col-md-6 col-ms-12">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Sequi veniam quibusdam odit porro rem placeat eveniet aliquam molestias libero. </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Sequi veniam quibusdam odit porro rem placeat eveniet aliquam molestias libero.</p>
                <div style="padding-left: 30px; padding-top: 20px;">
                    <a class="btn btn-defaul-persefone">boton</a>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 col-ms-12">
                <img class="about-us-img-mobile" src="../../../assets/img/quienes_somos.png" alt="¿Quiénes somos?">
            </div>
        </div>
    </div>
</div>
