<nav id="branch-menu" class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center logo-title" href="#"><img class="logo" src="../../../assets/img/logo persefone.png" alt="logo perséfone"> <h3>Perséfones</h3></a>
      <button  class="navbar-toggler btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <i class="bi bi-list"></i>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <a class="navbar-brand d-flex align-items-center logo-title" href="#"><img class="logo" src="../../../assets/img/logo persefone.png" alt="logo perséfone"> <h3>Perséfones</h3></a>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active btn-slider" aria-current="link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active  btn-slider" aria-current="page" href="#">¿Quiénes somo?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active btn-slider" href="#products">Nuestros servicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active btn-slider" href="#products">Contactanos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active btn-slider" href="#products">¡Cotizar Ya!</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
