<div class="container-fliud" id="information">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 ">
                <img class="computer-img" src="../../../assets/img/computer_persefone.png" alt="sitio web">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" id="whatIs">
                <h1>¿Por qué tener un sitio web?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ipsa suscipit facilis dolore eius beatae eaque tempore eligendi nam maxime praesentium alias quos sit, maiores corrupti sequi soluta tempora delectus!</p>
                <div style="padding-left: 30px; padding-top: 20px;">
                    <a class="btn btn-defaul-persefone">boton</a>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1>¿Por qué tener un sitio web?</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum molestias velit iste consectetur pariatur suscipit, tempora dolorem sed ab, iure eaque optio, labore repellat amet aut illum quidem totam ipsam?</p>
                <div style="padding-left: 30px; padding-top: 20px;">
                    <a class="btn btn-defaul-persefone">boton</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12" id="responsiveWeb">
                <img class="mobile-img" src="../../../assets/img/mobile.png" alt="">
            </div>
        </div>
    </div>
</div>
    