<div id="products" class="container-fluid">
    <div class="container">
        <h1>Servicios</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur sit voluptate dolorem ab? </p>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div>
                    <div class="card">
                        <div class="card-title">
                            <h4>Servicios Básico</h4>
                            <small>Precio regular $500</small>
                            <h5>Oferta $450 +iva</h5>
                            <small>Detalle</small>
                        </div>
                            
                        <div class="card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eveniet, veniam ex vitae recusandae quos, esse sit autem nulla facere earum id corporis. Aperiam maiores saepe est quod voluptate alias!</div>
                        <div class="card-buttom">
                            <a class="btn-get-product">botón</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Servicios Avanzado</h4>
                        <small>Precio regular $500</small>
                        <h5>Oferta $450 +iva</h5>
                        <small>Detalle</small>
                    </div>
                    <div class="card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eveniet, veniam ex vitae recusandae quos, esse sit autem nulla facere earum id corporis. Aperiam maiores saepe est quod voluptate alias!</div>
                    <div class="card-buttom">
                        <a class="btn-get-product">botón</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card soon">
                    <div class="card-title">
                        <h4>Servicios Pro+</h4>
                        <small>Precio regular $00</small>
                        <h5><small>Oferta</small> $00 <small>+iva</small></h5>
                        <small>Detalle</small>
                    </div>
                    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eveniet, veniam ex vitae recusandae quos, esse sit autem nulla facere earum id corporis. Aperiam maiores saepe est quod voluptate alias!</div>
                    <div class="card-buttom">
                        <a class="btn-get-product">botón</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
