<div id="products" class="container-fluid">
    <div class="container">
        <h1>Nuestros servicios</h1>
        <p>Ponemos a disposición nuestros servicios, los cuales están <br> pensados a tu 
            necesidad y bolsillo.
            </p>
            
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                    <div class="card">
                        <div class="card-title">
                            <h2> Perséfones <br>Básico</h2>
                            <small>Precio regular <s><b>$360.99</b></s></small>
                            <h5><i class="bi bi-cart-check-fill"></i><b> $306.99</b> +IVA</h5>
                            <small>Incluye:</small>
                        </div>
                            
                        <div class="card-body"> 
                            <div class="d-flex text-content">
                                <i class="bi bi-check2-circle"></i>
                                <p> Integración de keywords, meta description, titulo y favicon.</p>
                            </div>
                            <div class="d-flex text-content">
                                <i class="bi bi-check2-circle"></i>
                                <p> Hosting + dominio + certificado SSL por un año.</p>
                            </div>
                            <div class="d-flex text-content">
                                <i class="bi bi-check2-circle"></i>
                                <p> Una página web, con seis secciones de información.</p>
                            </div>
                            <div class="d-flex text-content">
                                <i class="bi bi-check2-circle"></i>
                                <p> Integración con redes sociales.</p>
                            </div>
                            <div class="d-flex text-content">
                                <i class="bi bi-check2-circle"></i>
                                <p> +3/meses de mantenimiento.</p>
                            </div>
                            <div class="d-flex text-content">
                                <div><i class="bi bi-check2-circle"></i></div>
                                <div><p> Banner animado.</p></div>
                            </div>
                            <div class="d-flex text-content">
                                <div><i class="bi bi-check2-circle"></i></div>
                                <div><p><s>Metodo de pagos en online</s></p></div>
                            </div>
                        </div>
                        <div class="card-buttom">
                            <a class="btn-get-product">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-title">
                        <h2>Perséfones <br>Avanzado</h2>
                        <small>Precio regular <s><b>$465.99</b></s></small>
                        <h5><i class="bi bi-cart-check-fill"></i><b> $405.99</b> +IVA</h5>
                        <small>Incluye</small>
                    </div>
                    <div class="card-body"> 
                        <div class="d-flex text-content">
                            <i class="bi bi-check2-circle"></i>
                            <p> Integración de keywords, meta description, titulo y favicon.</p>
                        </div>
                        <div class="d-flex text-content">
                            <i class="bi bi-check2-circle"></i>
                            <p> Hosting + dominio + certificado SSL por un año.</p>
                        </div>
                        <div class="d-flex text-content">
                            <i class="bi bi-check2-circle"></i>
                            <p> Tres página web, con seis secciones de información.</p>
                        </div>
                        <div class="d-flex text-content">
                            <i class="bi bi-check2-circle"></i>
                            <p> Integración con redes sociales.</p>
                        </div>
                        <div class="d-flex text-content">
                            <i class="bi bi-check2-circle"></i>
                            <p> +6/meses de mantenimiento.</p>
                        </div>
                        <div class="d-flex text-content">
                            <div><i class="bi bi-check2-circle"></i></div>
                            <div><p>Banner animado.</p></div>
                        </div>
                        <div class="d-flex text-content">
                            <div><i class="bi bi-check2-circle"></i></div>
                            <div><p><s>Metodo de pagos en online</s></p></div>
                        </div>
                    </div>
                    <div class="card-buttom">
                        <a class="btn-get-product">Cotizar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card soon">
                    <div class="card-title">
                        <h2>Perséfones <br> Plus</h2>
                        <!-- <small>Precio regular $00</small>
                        <h5><small>Oferta</small> $00 <small>+iva</small></h5>
                        <small>Detalle</small> -->
                    </div>
                    <div class="card-body"><div class="d-flex d-flex justify-content-center"><h5>Espéralo muy pronto te traeremos nuevas sorpresas.</h5></div></div>
                    <div class="card-buttom">
                        <a class="btn-get-product">Muy Pronto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
