<footer id="branch-footer" class="footer">
    <div class="container">
        <h1 class="text-center">Contactanos</h1>
        <div class="row ">
            <div class="col-lg-4 col-md-4 text-center">
                <h5>Nuestras redes sociales</h5>
                <p class="email-persefone"><i class="bi bi-envelope"></i><u>cotizaya@persefono.com</u></p>
                
                <div class="d-flex align-items-start justify-content-center social-media">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-github "></i>
                </div>

                
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <h5 >Puedes llamarnos</h5>
                <div class="p-2">
                    <a class="btn-contact" href="tel:+59383684819">+59383684819</a>
                </div>
                
                <div class="p-2">
                    <a class="btn-contact" href="tel:+59383684819">+59383684819</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <img class="logo-footer" src="../../../assets/img/logo persefone.png" alt="">
                <p style="font-weight: bold;">Perséfone {{year}}. <br> Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
