<div class="container-fluid" id="hero">
    <div style="height: 70px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 hero-title">
                <h1>Creandos Oportunidades</h1>
                
                <p>En <b>Perséfones</b>, te ayudamos a construir la página web de tus sueños, dónde estarás un paso más cerca de alcanzar ese objetivo que llevas en mente.</p>
                <div style="padding-top: 20px;">
                    <a href="#aboutUs" class="btn btn-defaul-persefone">Conocer más</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="hero-img"></div>
            </div>
        </div>
    </div>
</div>

