<div class="container-fluid" id="hero">
    <div style="height: 70px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 hero-title">
                <h1>Perséfone</h1>
                <h2>Creamos Soluciones</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Vitae perspiciatis placeat repudiandae qui nam distinctio quibusdam, .</p>
                <div style="padding-top: 20px;">
                    <a class="btn btn-defaul-persefone">boton</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="hero-img" alt="hero"></div>
            </div>
        </div>
    </div>
</div>

